
  .arrow {
    font-size: 24px;
    cursor: pointer;
    padding: 4px;
  }
  .upvote.shaded, .fas.fa-arrow-alt-circle-up {
    color: darkslateblue;
    font-size: 36px;
  }
  .upvote.unshaded, .far.fa-arrow-alt-circle-up {
    color: darkslateblue;
    opacity: 0.5;
    font-size: 36px;
  }
  .downvote.shaded, .fas.fa-arrow-alt-circle-down {
    color: crimson;
    font-size: 36px;
  }
  .downvote.unshaded, .far.fa-arrow-alt-circle-down {
    color: crimson;
    opacity: 0.5;
    font-size: 36px;
  }

  #nav-mobile {
    display: flex;
    flex-direction: row;
  }

.active1 {
  background-color: darkmagenta;
  color: aqua;
  border-radius: 5px;
  font-weight: bold;
}
<<<<<<< HEAD
<<<<<<< HEAD

.active1 a {
  color: aquamarine;
}
=======
>>>>>>> parent of cc82e87 (Modified review page)
=======
>>>>>>> parent of cc82e87 (Modified review page)
