{% extends "layout.html" %}
{% block title %}Downvote Review{% endblock %}
{% block page %}Downvote Review{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">

        <form class="col s12" method="POST" action="/downvotes">
            <div class="row">
             <div class="input-field col s6">
                <label for="reviewid">Select Review: </label>
                <br><br>
                <select name="reviewid">
                {% for review in reviews %}
                    <option value="{{review.id}}">{{review.id}} {{review.text}}</option>
                {% endfor %}
                </select>
             </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light right purple" type="submit" name="action">Downvote</button>
                </div>
            </div>

            <div class="row">
                <table>
                    <thead>
                        <tr> 
                            <th>Downvote ID</th>
                            <th>Staff ID</th>
                            <th>Review ID</th> 
                        </tr>
                    </thead>

                    <tbody>
                        {% for downvote in downvotes %}
                            <tr> 
                                <td>{{downvote.id}}</td> 
                                <td>{{downvote.staffid}}</td> 
                                <td>{{downvote.reviewid}}</td> 
                            </tr>
                        {% endfor %}
                    <tbody>
                </table>
            </div>
        </form>

    </div>
{% endblock %}
