<!doctype html>
<html>
  <head>
  
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='materialize.min.css') }}">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>

    {% set navigation_bar = [('/', 'index', 'Index'), ('/staff', 'add-staff', 'Add Staff'), ('/students', 'add-student', 'Add Student'), ('/staff/'~current_user.id|string(), 'my-profile', current_user.username|string()~"'s Profile"), ('/view-students', 'view-students', 'View Students'), ('/reviews', 'log-review', 'Log Review')] -%}
    {% set active_page = active_page|default('index') -%}

  </head>
  <body>
    <nav class="purple" style="height: 120px;">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo center" style="padding-top: 50px;">{% block page %}{% endblock %}</a>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="left" style="padding-bottom: 50px;">

 

                {% if is_authenticated %}
                <!--  <li class="{{ 'active1' if request.endpoint == 'staff_views.my_page' else '' }}"><a id="my-profile" href="{{ url_for('staff_views.my_page', id=current_user.id) }}">My Profile</a></li>
                  <li class="{{ 'active1' if request.endpoint == 'student_views.get_student_page' else '' }}"><a id="add-student" href="/students">Add Student</a></li>
                  <li class="{{ 'active1' if request.endpoint == 'student_views.get_students_sorted' else '' }}"><a id="view-students" href="/view-students">View Students</a></li>
                  <li class="{{ 'active1' if request.endpoint == 'staff_views.get_staff_page' else '' }}"><a id="add-staff" href="/staff">Add Staff</a></li>
                  <li class="{{ 'active1' if request.endpoint == 'review_views.get_review_page' else '' }}"><a id="log-review" href="/reviews">Log Review</a></li> -->

                  {% for href, id, caption in navigation_bar %}
                    <li{% if id == active_page %} class="active1"{% endif %}>
                    <a href="{{ href|e }}">{{ caption|e }}</a></li>
                  {% endfor %}

                {% else %}
                  <li><a href="/">Home</a></li>
                  <li><a href="/static/users">All Users</a></li>
                {% endif %}
            </ul>

            {% if is_authenticated %}
            <ul id="nav-mobile" class="right">
              <li><a href="/logout">Logout</a></li>
            </ul>
            {% else %}
            <form class="right navbar-form" method="POST" action="/login" style="display: flex; flex-wrap: nowrap; align-items: center; margin-right: 10px;">
                <div class="input-field" style="margin-right: 10px;">
                    <input placeholder="username" value="" name="username" type="text" class="validate" required>
                    <label for="username">username</label>
                </div>
                <div class="input-field" style="margin-right: 10px;">
                    <input placeholder="password"value="" name="password" type="password" class="validate" required>
                    <label for="password">Password</label>
                </div>
                <button type="submit" class="btn waves-effect waves-light">Login</button>
            </form>
            {% endif %}
    
        </div>
      </div>
    </nav>
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <nav class="white black-text" style="padding: 10px">
        <div class="nav-wrapper">
            <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
      </nav>
      {% endif %}
    {% endwith %}

    <div class="container" id="content">{% block content %}{% endblock %}</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <script>
      const myProfileButton = document.getElementById('my-profile');
      const addStaffButton = document.getElementById('add-staff');
      const addStudentButton = document.getElementById('add-student');
      const viewStudentsButton = document.getElementById('view-students');
      const logReviewButton = document.getElementById('log-review');

      function myProfileButtonClick(userId) {
        myProfileButton.innerHTML = `<a id="my-profile" onclick="myProfileButtonClick('current_user.id')" href="/staff/${userId}" style="color:aqua; background-color: darkmagenta">My Profile</a>`;
      }
    </script>
  </body>
</html>
