{% extends "layout.html" %}
{% block title %}Log Review{% endblock %}
{% block page %}Log Review{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">
        <p>
            This table is rendered on the Server. Flask gets the data from the database and uses jinja templates to dyanmically render this page when a request is sent to <a href="/users">/users</a>.
        </p>
    </div>

    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <div class="row">
      <form class="col s12" method="POST" action="/reviews">
        
        <div class="row">
            <div class="input-field col s6">
                <br><br>
                <select name="studentid" id="student" style="border: 1px solid cadetblue">
                    {% for student in students %}
                    <option value={{student.id}}>{{student.id}} {{student.username}}</option>
                    {% endfor %}
                </select>
                <label for="studentid">Select Student:</label>
             </div>


            <div class="input-field col s6">
                <label for="text">Review Details</label>
                <br>
                <input name="text" id="review-text" type="text" placeholder="Enter Review">
            </div>

        </div>
      
        <div class="row">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light right purple" type="submit" name="action">Create Review</button>
          </div>
        </div> 

      </form>
    </div>

    <div class="row">

        <table>
          <thead>
            <tr>
              <th>Review ID</th><th>Staff ID</th><th>Student ID</th><th>Description</th>
            </tr>
          </thead>
          <tbody id="reviews-table">
            {{upvotes}}
            {% for review in reviews %}
              <tr id="{{review.id}}">
                <td>{{review.id}}</td>
                <td>{{review.staffid}}</td>
                <td>{{review.studentid}}</td>
                <td>{{review.text}}</td>

                {% if review.id in upvotes %}
                    <td id="{{review.id}}-num-upvotes"><i id="upvote-arrow-{{review.id}}" class='fas fa-arrow-alt-circle-up' onclick="unvote('{{review.id}}')" type="submit" name="action"></i> <span> {{review.num_upvotes}}</span> </td>
                    <td id="{{review.id}}-num-downvotes"><i id="downvote-arrow-{{review.id}}" class='far fa-arrow-alt-circle-down' onclick="downvote('{{review.id}}')" type="submit" name="action"></i> <span> {{review.num_downvotes}}</span> </td>
                {% endif %}

                {% if review.id in downvotes %}
                    <td id="{{review.id}}-num-upvotes"><i id="upvote-arrow-{{review.id}}" class='far fa-arrow-alt-circle-up' onclick="upvote('{{review.id}}')" type="submit" name="action"></i> <span> {{review.num_upvotes}}</span> </td>
                    <td id="{{review.id}}-num-downvotes"><i id="downvote-arrow-{{review.id}}" class='fas fa-arrow-alt-circle-down' onclick="undownvote('{{review.id}}')" type="submit" name="action"></i> <span> {{review.num_downvotes}}</span></td>
                {% endif %}

                {% if review.id not in upvotes and review.id not in downvotes %}
                    <td id="{{review.id}}-num-upvotes"><i id="upvote-arrow-{{review.id}}" class='far fa-arrow-alt-circle-up' onclick="upvote('{{review.id}}')" type="submit" name="action"></i> <span> {{review.num_upvotes}}</span> </td>
                    <td id="{{review.id}}-num-downvotes"><i id="downvote-arrow-{{review.id}}" class='far fa-arrow-alt-circle-down' onclick="downvote('{{review.id}}')" type="submit" name="action"></i> <span> {{review.num_downvotes}}</span></td>
                {% endif %}

              </tr>
            {% endfor %}
          <tbody>
        </table>


        <script>
          function upvote(reviewId) {
            const upvoteButton = document.getElementById(`upvote-arrow-${reviewId}`);
            const downvoteButton = document.getElementById(`downvote-arrow-${reviewId}`);
            const reviewUpvotes = document.getElementById(`${reviewId}-num-upvotes`);
            const reviewDownvotes = document.getElementById(`${reviewId}-num-downvotes`);

                fetch('/upvotes', {
                  method: 'POST',

                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify({ reviewid: reviewId }),
                }).then(response => response.json())
                  .then(data => {
                    console.log("Received data:", data);  // check what’s coming from the backend
      
                  if (data.success) {
                    console.log("Vote was successful!");
                    reviewUpvotes.innerHTML = `<i id="upvote-arrow-${reviewId}" class="fas fa-arrow-alt-circle-up" onclick="unvote('${reviewId}')" type="submit" name="action"></i> <span> ${data.num_upvotes}</span>`;

                     /*if downvote button is shaded, unshade it*/
                    if(downvoteButton.classList.contains('fas')) {
                      reviewDownvotes.innerHTML = `<i id="downvote-arrow-${reviewId}" class="far fa-arrow-alt-circle-down" onclick="downvote('${reviewId}')" type="submit" name="action"></i> <span> ${data.num_downvotes}</span>`;
                    }

                 
                  } else {
                      alert("Vote failed.");
                  }
                });
          }

          function unvote(reviewId) {
            const upvoteButton = document.getElementById(`upvote-arrow-${reviewId}`);
            const reviewUpvotes = document.getElementById(`${reviewId}-num-upvotes`);

            fetch(`/upvotes/${reviewId}`, {method: 'DELETE', headers: {'Content-Type': 'application/json',},}).then(response => response.json())
                  .then(data => {
      
                  if (data.success) {
                    reviewUpvotes.innerHTML = `<i id="upvote-arrow-${reviewId}" class="far fa-arrow-alt-circle-up" onclick="upvote('${reviewId}')" type="submit" name="action"></i> <span> ${data.num_upvotes}</span>`;
                   
                  } else {
                      alert("Unvote failed.");
                  }
                });
          }

          function downvote(reviewId) {
            const downvoteButton = document.getElementById(`downvote-arrow-${reviewId}`);
            const reviewDownvotes = document.getElementById(`${reviewId}-num-downvotes`);
            const upvoteButton = document.getElementById(`upvote-arrow-${reviewId}`);
            const reviewUpvotes = document.getElementById(`${reviewId}-num-upvotes`);

            fetch('/downvotes', {
                  method: 'POST',

                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify({ reviewid: reviewId }),
                }).then(response => response.json())
                  .then(data => {
                    console.log("Received data:", data);  // check what’s coming from the backend
      
                  if (data.success) {
                    console.log("Downvote was successful!");
                    reviewDownvotes.innerHTML = `<i id="downvote-arrow-${reviewId}" class="fas fa-arrow-alt-circle-down" onclick="undownvote('${reviewId}')" type="submit" name="action"></i> <span> ${data.num_downvotes}</span>`;

                     /*if upvote button is shaded, unshade it*/
                    if(upvoteButton.classList.contains('fas')) {
                      reviewUpvotes.innerHTML = `<i id="upvote-arrow-${reviewId}" class="far fa-arrow-alt-circle-up" onclick="upvote('${reviewId}')" type="submit" name="action"></i> <span> ${data.num_upvotes}</span>`;
                    }

                 
                  } else {
                      alert("Downvote failed.");
                  }
                });
          }


          function undownvote(reviewId) {
            const downvoteButton = document.getElementById(`downvote-arrow-${reviewId}`);
            const reviewDownvotes = document.getElementById(`${reviewId}-num-downvotes`);

            fetch(`/downvotes/${reviewId}`, {method: 'DELETE', headers: {'Content-Type': 'application/json',},}).then(response => response.json())
                  .then(data => {
      
                  if (data.success) {
                    reviewDownvotes.innerHTML = `<i id="downvote-arrow-${reviewId}" class="far fa-arrow-alt-circle-down" onclick="downvote('${reviewId}')" type="submit" name="action"></i> <span> ${data.num_downvotes}</span>`;
                   
                  } else {
                      alert("Unvote failed.");
                  }
                });
          }
        </script>

      </div>
  
  {% endblock %}
