{% extends "layout.html" %}
{% block title %}Log Review{% endblock %}
{% block page %}Log Review{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">
        <p>
            This table is rendered on the Server. Flask gets the data from the database and uses jinja templates to dyanmically render this page when a request is sent to <a href="/users">/users</a>.
        </p>
    </div>

    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <div class="row">
      <form class="col s12" method="POST" action="/reviews">
        
        <div class="row">
            <div class="input-field col s6">
                <br><br>
                <select name="studentid" id="student" style="border: 1px solid cadetblue">
                    {% for student in students %}
                    <option value={{student.id}}>{{student.id}} {{student.username}}</option>
                    {% endfor %}
                </select>
                <label for="studentid">Select Student:</label>
             </div>


            <div class="input-field col s6">
                <label for="text">Review Details</label>
                <br>
                <input name="text" id="review-text" type="text" placeholder="Enter Review">
            </div>

        </div>
      
        <div class="row">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light right purple" type="submit" name="action">Create Review</button>
          </div>
        </div> 

      </form>
    </div>

    <div class="row">

        <table>
          <thead>
            <tr>
              <th>Review ID</th><th>Staff ID</th><th>Student ID</th><th>Description</th>
            </tr>
          </thead>
          <tbody id="reviews-table">
            {{upvotes}}
            {% for review in reviews %}
              <tr id="{{review.id}}">
                <td>{{review.id}}</td>
                <td>{{review.staffid}}</td>
                <td>{{review.studentid}}</td>
                <td>{{review.text}}</td>

                {% if review.id in upvotes %}
                    <td id="{{review.id}}-num-upvotes"><i id="upvote-arrow-{{review.id}}" class='fas fa-arrow-alt-circle-up' onclick="unvote('{{review.id}}')" type="submit" name="action"></i> <span> {{review.num_upvotes}}</span> </td>
                    <td id="{{review.id}}-num-downvotes"><i id="downvote-arrow-{{review.id}}" class='far fa-arrow-alt-circle-down' onclick="downvote('{{review.id}}')" type="submit" name="action"></i> <span> {{review.num_downvotes}}</span> </td>
                {% endif %}

                {% if review.id in downvotes %}
                    <td id="{{review.id}}-num-upvotes"><i id="upvote-arrow-{{review.id}}" class='far fa-arrow-alt-circle-up' onclick="upvote('{{review.id}}')" type="submit" name="action"></i> <span> {{review.num_upvotes}}</span> </td>
                    <td id="{{review.id}}-num-downvotes"><i id="downvote-arrow-{{review.id}}" class='fas fa-arrow-alt-circle-down' onclick="undownvote('{{review.id}}')" type="submit" name="action"></i> <span> {{review.num_downvotes}}</span></td>
                {% endif %}

                {% if review.id not in upvotes and review.id not in downvotes %}
                    <td id="{{review.id}}-num-upvotes"><i id="upvote-arrow-{{review.id}}" class='far fa-arrow-alt-circle-up' onclick="upvote('{{review.id}}')" type="submit" name="action"></i> <span> {{review.num_upvotes}}</span> </td>
                    <td id="{{review.id}}-num-downvotes"><i id="downvote-arrow-{{review.id}}" class='far fa-arrow-alt-circle-down' onclick="downvote('{{review.id}}')" type="submit" name="action"></i> <span> {{review.num_downvotes}}</span></td>
                {% endif %}

              </tr>
            {% endfor %}
          <tbody>
        </table>

        <script src="static/reviews.js"></script>

      </div>
  
  {% endblock %}
