{% extends "layout.html" %}
{% block title %}Review {{review.id}} Downvoters{% endblock %}
{% block page %}Review {{review.id}} Downvoters{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">
        <p style="font-size: 20px; font-weight: bold; text-align: center;">Review {{review.id}} Downvoters</p>
    </div>

    <div class="row">
        <table>
          <thead>
            <tr>
              <th>Staff Members:</th>
            </tr>
          </thead>

          <tbody>
            {% for downvote in downvotes %}
                <tr>
                    {% if downvote.id == current_user.id %}
                        <td>You</td>
                    {% else %}
                        <td>{{downvote.username}}</td>
                    {% endif %}

                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

{% endblock %}