{% extends "layout.html" %}
{% set active_page = "my-profile" %}
{% block title %}{{current_user.username}}'s Profile{% endblock %}
{% block page %}{{current_user.username}}'s Profile{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">
        <p style="font-size: 20px; font-weight: bold; text-align: center;">Reviews you logged</p>
    </div>

    <div class="row">

    {% if reviews %}
    <table>
        <thead>
            <tr> <th>Review ID</th> <th>Student</th> <th>Comments</th> </tr>
        </thead>

        {% for review in reviews %}
        <tbody>
            <tr> <td>{{review.id}}</td> <td>{{get_student(review.studentid).username}}</td> <td>{{review.text}}</td> </tr>
        </tbody>
        {% endfor %}
    </table>
    {% else%}
        <p>You haven't logged any reviews</p>
    {% endif %}
    </div>
    
{% endblock %}
