{% extends "layout.html" %}
{% block title %}Upvote Student{% endblock %}
{% block page %}Upvote Student{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">
        <p>
            This table is rendered on the Server. Flask gets the data from the database and uses jinja templates to dyanmically render this page when a request is sent to <a href="/users">/users</a>.
        </p>
    </div>

    <div class="row">
      <form class="col s12" method="POST" action="/upvotes">
        
        <div class="row">
          <div class="input-field col s6">

            <label for="studentid">Select Student: </label>
            <br><br>
            <select name="studentid" id="student">
                {% if students %}
                  {% for student in students %}
                  <option value={{student.id}}>{{student.id}} {{student.username}}</option>
                  {% endfor %}

                {%else%}
                    <p>No students to upvote</p>
                {% endif %}
            </select>

          </div>
        </div>
      
        <div class="row">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light right purple" type="submit" name="action">Upvote</button>
          </div>
        </div> 

      </form>
    </div>

    <div class="row">
      <table>
        <thead>
          <tr>
            <th>Upvote ID</th><th>Staff ID</th><th>Student ID</th>
          </tr>
        </thead>
        <tbody>
            {% if upvotes %}
                {% for upvote in upvotes %}
                    <tr>
                        <td>{{upvote.id}}</td>
                        <td>{{upvote.staffid}}</td>
                        <td>{{upvote.studentid}}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        <tbody>
      </table>
    </div>

{% endblock %}
