{% extends "layout.html" %}
{% block title %}All Users{% endblock %}
{% block page %}All Users{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">
        <p>
            This is table is renderd on the Server. Flask gets the data from the database and uses jinja templates to dyanmically render this page when a request is sent to <a href="/users">/users</a>.
        </p>
    </div>

    <div class="row">
      <table>
        <thead>
          <tr>
            <th>User ID</th><th>Username</th><th>Role</th>
          </tr>
        </thead>
        <tbody>
          {% if users %}
            {% for user in users %}
              <tr>
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.get_user_type()}}</td>
              </tr>
            {% endfor %}

          {% else %}
            <p>No users added</p>
          {% endif %}
        <tbody>
      </table>
    </div>

{% endblock %}
